################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
Debug/
Release/
*.suo
*.user
_ReSharper.*/
*.sdf
/src/.idea
/src/app.py
/server/.idea
*__pycache__*
/server/ikigai_test_challenge_api.egg-info
/server/dist
/ikigai_test_challenge_api.egg-info
/dist
