################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/mchoudhary.ikigai.codingtest/.vs/mchoudhary.ikigai.codingtest/v16
/.vs
