<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerApiUrl" value="http://localhost:8080/ikigai-test-challenge/api/v1/"/>
		<add key="BistampHistoricalDailyOhlcvDataEndpoint" value="timeseries/get-historical-daily-ohlcv-data"/>
		<add key="DaysFromBtcHalvingsAnalysisEndpoint" value="analysis/days-from-btc-halvings"/>
	</appSettings>
</configuration>